html,body
{
    width: 100%;
    height: 100%;
    margin:0px;
    padding:0px;
    overflow-x: hidden;
    background-color: #191919;
}
/*This set consist of all the css part of the HackerRIT Menu Bar for login*/
.navbar .container-fluid .navbar-header .navbar-toggle {
  background-color:#59B1E0;
}
.navbar-toggle .icon-bar{
  background-color:white;
}
.logo{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position:relative;
  right:5px;  
}
.logoTitle{
  font-size:30px;
  position:relative;
  top:5px;
  left:5px;
  font-family: Georgia;
  color: #2B4156;
}
a{
  cursor:pointer;
}
.key{
  display: inline-block; 
  border:none;
  height:60px;
  width:100%;
  background-color: white;
  font-size:25px;
  color:#59b1e0;
  transition: .5s;
  text-align: center;

}

.signup {
  display: inline-block; 
  border:none;
  height:60px;
  width:100%;
  font-size: 25px;
  background-color:#59b1e0;
  color:white;
  transition: .5s;
text-align: center;

}
.glyphicon-user{
  font-size: 20px;
}
.key:hover{
   background-color: #eaf3f7;
}
.signup:hover{
   background-color: #52a3ce;
}
@media screen and (max-width: 768px) {
  .key{
  	text-align: center;
    border:solid;
    border-width:1px 0 0 0;
    border-color: #59B1E0;
    padding-top: 20px;
  }
  .signup{
  	text-align: center;
  	padding-top: 20px;  
}
}
                      /*-----------------------------------------------------------------------------------*/
                     		/*This is for the moving logo bar intro tab* inspired from a fav blog*/
.parallax{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#wrapper{
  position: relative;
  width:100%;
  min-height:55vw;
  overflow: hidden;
}

.layer{
  position: absolute;
  width:100vw;
  min-height: 55vw;
  overflow: hidden;
}

.layer .content-wrap{
  position: absolute;
  width:100vw;
  min-height: 55vw;
}

.layer .content-body{
  width:25%;
  position:absolute;
  top:50%;
  text-align: center;
  transform:translateY(-50%);
  color:#fff;
}

.layer object{
  position: absolute;
  max-width:35%;
  top:50%;
  left: 50%;
  border-radius: 50%;
  transform:translate(-50%, -50%);
  point-event: none;
}


.layer h1{
  font-size:2em;
  position: absolute;
  top:40%;  
}

.bottom{
  background:#222;
  z-index:1;
}

.bottom .content-body{
  right:5%;
}

.bottom h1{
  color:#FDAB00;
}

.top{
  background:#eee;
  color:#222;
  z-index:2;
  width:50vw;
}

.top .content-body{
  left: 5%;
  color:#222;
}

.handle{
  position: absolute;
  height: 100%;
  display: block;
  background-color: #34B524;
  width:5px;
  top:0;
  left: 50%;
  z-index:3;
}

.skewed .handle{
  top:50%;
  transform:rotate(30deg) translateY(-50%);
  height: 200%;
  transform-origin:top;
}

.skewed .top{
  transform: skew(-30deg);
  margin-left:-1000px;
  width: calc(50vw + 1000px);
}

.skewed .top .content-wrap{
  transform: skew(30deg);
  margin-left:1000px;
}

@media(max-width:768px){

	.bottom h1{
    font-size:85%;
    left:-20%;

  }
    .top h1{
    font-size:85%;
    right::20%;

  }

  .layer img{
  	max-width:30%;
  	top:70%;
  }
}
.kword{
  background-color: #191919;
  font-size:40px;
  text-align:center;
  color: #66FCF1;
  font-family:sans sherif;
}
.about{
  color:white;
  max-width:80%;
  font-size:20px;
  border:double;
  border-color: #66FCF1;
  background-color: #191919;
  padding: 20px 5px 20px 10px;
  margin:10px auto 10px auto;
  border-radius:10px;
}
.btn-danger{
  position:relative;
  right:15px;
  }
.btn-info{
  position:relative;
  left:15px;
  }
@media screen and (max-width: 450px) {
  .kword{
    font-size:30px;
  }
  .btn-danger{
  position:relative;
  right:0px;
  }
  }
                                                /*-------------------gallery tab--------------------*/
.images {display:none}


.gallery {
  max-width: 900px;
  position: relative;
  margin: auto;
  margin-top:50px;
}

.images img{
  max-height:500px;
  border-radius:15px;
  
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px;
  color: white;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background-color:rgba(72, 72, 73,0.8);
  border-bottom-right-radius:15px;
  border-bottom-left-radius:15px;
}
.dot {
  cursor:pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  animation-fill-mode:forwards;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 15px;}
}
												  /*-------------------footer--------------------*/
hr{
  width:80%;
}
.sites{
  margin:auto;
}
.sites a{
  margin:5px 10px 5px 10px;
}
